[submodule "Engine/External/glfw"]
	path = Engine/External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Engine/External/glm"]
	path = Engine/External/glm
	url = https://github.com/g-truc/glm.git
[submodule "Engine/External/spdlog"]
	path = Engine/External/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Engine/External/taskflow"]
	path = Engine/External/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "Engine/External/stb"]
	path = Engine/External/stb
	url = https://github.com/nothings/stb.git
[submodule "Engine/External/meshoptimizer"]
	path = Engine/External/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
